@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Poppins:wght@300;400;500;600&display=swap');



::-webkit-scrollbar{
   width: 1.3rem;
 }
 
 ::-webkit-scrollbar-track{
   background-color: #cec0b8;
 }
 ::-webkit-scrollbar-thumb{
   background-color: #323232;
   border-radius: 1rem;
   border: 0.3rem solid transparent;
   background-clip: content-box;
 }

 
body{
  font-family: "Poppins" ;
  background-color: #cec0b8 !important;
}

.navBoxTwo{box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   border-radius: 100px;
}

.blogBox{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.icon{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: none;
  border-radius: 10px;
}

.commentz{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  background-color: #f0ece9;
}


.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
}
.popup-arrow {
  color: rgb(0, 0, 0);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(155, 40, 40, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}